fire

datasets
tokenizers
tabulate
tqdm
# flash_attn==2.7.0.post2
vllm==0.8.5.post1
latex2sympy2
numpy
pandas
peft
pylatexenc
ray==2.43.0
regex
Requests
ring_flash_attn
setuptools
srsly
sympy
timeout_decorator
wheel
word2number
pynvml==12.0.0
wandb==0.19.8
deepspeed==0.16.8
tensorboard
class-registry
hydra-core==1.3.2
antlr4-python3-runtime==4.9.3
shortuuid
joblib
ray[default]